<div class="card-container">
    <mat-chip-list aria-label="Dog selection">
        <mat-chip>
            Create A Store
        </mat-chip>
    </mat-chip-list>
</div>
<div class="card-container">
    <mat-card class="card">
        <div class="card-container">
            <form class="form-container" [formGroup]="addStroesForm" (ngSubmit)="create()">
                <mat-form-field appearance="fill" style="width: 400px;">
                    <mat-label>Name</mat-label>
                    <input matInput formControlName="name">
                  </mat-form-field>
                  <mat-form-field appearance="fill" style="width: 400px;">
                    <mat-label>Description</mat-label>
                    <input matInput formControlName="description">
                  </mat-form-field>
                  <mat-form-field appearance="fill" style="width: 400px;">
                    <mat-label>Email</mat-label>
                    <input matInput formControlName="email">
                  </mat-form-field>
                  <mat-form-field appearance="fill" style="width: 400px;">
                    <mat-label>Image</mat-label>
                    <input matInput formControlName="image">
                  </mat-form-field>
                  <mat-form-field appearance="fill" style="width: 400px;">
                    <mat-label>Category</mat-label>
                    <input matInput formControlName="category">
                  </mat-form-field>
                  <mat-form-field appearance="fill" style="width: 400px;">
                    <mat-label>Address</mat-label>
                    <input matInput formControlName="address">
                  </mat-form-field>
                  <mat-form-field appearance="fill" style="width: 400px;">
                    <mat-label>Geolocation</mat-label>
                    <input matInput formControlName="geolocation">
                  </mat-form-field>
                  <button mat-raised-button color="primary" style="margin: 10px 0px">Add</button>
            </form>
            <div style="margin-top: 15px;">
                <img style="width: 300px;height: 400px;" mat-card-image src="{{this.addStroesForm.get('image')?.value ? this.addStroesForm.get('image')?.value : noImage}}" alt="superimage"/>
            </div>
        </div>
    </mat-card>        
</div>
